<a href="https://colab.research.google.com/github/mmuthu2004/data_pipeline2025/blob/feature%2Fdata-transformation/PysparkCheatsheetApr62025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName('Dummy').getOrCreate()

# Sample data: List of tuples
data = [("James", "Smith", "USA", 30),
        ("Michael", "Jordan", "USA", 32),
        ("Maria", "Garcia", "USA", 28),
        ("Juan", "Martinez", "Spain", 35)]

# Define column names
columns = ["First Name", "Last Name", "Country", "Age"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

In [3]:
df.show(1)

+----------+---------+-------+---+
|First Name|Last Name|Country|Age|
+----------+---------+-------+---+
|     James|    Smith|    USA| 30|
+----------+---------+-------+---+
only showing top 1 row

In [4]:
from google.colab import files

# Upload the file
uploaded = files.upload()

Saving MOCK_DATA Stocks.csv to MOCK_DATA Stocks.csv
Saving MOCK_DATA_Products.csv to MOCK_DATA_Products.csv

In [5]:
df1 = spark.read.csv("MOCK_DATA Stocks.csv")

In [6]:
df1 = spark.read.format("csv").option("header", True).load('MOCK_DATA Stocks.csv')

In [7]:
df2 = spark.read.format("csv").option("header", True).load('MOCK_DATA_Products.csv')

In [8]:
df1.show(1)

+---+----------+---------+--------------------+------------+
| id|first_name|last_name|       Stock_Company|Stock_amount|
+---+----------+---------+--------------------+------------+
|  1|   Merissa|   Vischi|Dreyfus High Yiel...|      $6.19 |
+---+----------+---------+--------------------+------------+
only showing top 1 row

In [9]:
df2.show(2)

+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
|CustomerID|first_name|last_name|              email|gender|        city|department|             product|price|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
|         1|     Cindy|D' Angelo|cdangelo0@nymag.com|Female|Samut Sakhon|  Outdoors|Jam - Strawberry,...|   91|
|         2|  Olenolin|  Yarnley|oyarnley1@google.ru|  Male|    Tiantang|     Games|Tea - Darjeeling,...|   75|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
only showing top 2 rows

In [10]:
from pyspark.sql.functions import concat, lit
df3 = df1.withColumn("Full_name", concat(df1.first_name, lit(' '), df1.last_name))

In [12]:
df3.show(3)

+---+----------+---------+--------------------+------------+---------------+
| id|first_name|last_name|       Stock_Company|Stock_amount|      Full_name|
+---+----------+---------+--------------------+------------+---------------+
|  1|   Merissa|   Vischi|Dreyfus High Yiel...|      $6.19 | Merissa Vischi|
|  2|      Edan|   Burnel|First Bancorp, In...|    $650.03 |    Edan Burnel|
|  3|   Eugenio|  MacKall|American Supercon...|    $594.80 |Eugenio MacKall|
+---+----------+---------+--------------------+------------+---------------+
only showing top 3 rows

In [13]:
df2.show(1)

+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
|CustomerID|first_name|last_name|              email|gender|        city|department|             product|price|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
|         1|     Cindy|D' Angelo|cdangelo0@nymag.com|Female|Samut Sakhon|  Outdoors|Jam - Strawberry,...|   91|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
only showing top 1 row

In [14]:
df21 = df2.withColumnRenamed("first_name",'fn').withColumnRenamed("last_name",'ln')

In [15]:
df21 = df2

In [16]:
df21 = df2.withColumn("newprice", df2.price+10)

In [17]:
df21.show(3)

+----------+----------+-----------+--------------------+------+------------+----------+--------------------+-----+--------+
|CustomerID|first_name|  last_name|               email|gender|        city|department|             product|price|newprice|
+----------+----------+-----------+--------------------+------+------------+----------+--------------------+-----+--------+
|         1|     Cindy|  D' Angelo| cdangelo0@nymag.com|Female|Samut Sakhon|  Outdoors|Jam - Strawberry,...|   91|   101.0|
|         2|  Olenolin|    Yarnley| oyarnley1@google.ru|  Male|    Tiantang|     Games|Tea - Darjeeling,...|   75|    85.0|
|         3|      Etti|Duckinfield|educkinfield2@mys...|Female|     Lucheng|    Beauty|              Garlic|   99|   109.0|
+----------+----------+-----------+--------------------+------+------------+----------+--------------------+-----+--------+
only showing top 3 rows

In [18]:
df21 = df21.drop("newprice")

In [19]:
df21.show(2)

+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
|CustomerID|first_name|last_name|              email|gender|        city|department|             product|price|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
|         1|     Cindy|D' Angelo|cdangelo0@nymag.com|Female|Samut Sakhon|  Outdoors|Jam - Strawberry,...|   91|
|         2|  Olenolin|  Yarnley|oyarnley1@google.ru|  Male|    Tiantang|     Games|Tea - Darjeeling,...|   75|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
only showing top 2 rows

In [20]:
df21 = df21.select("first_name","email","gender")

In [21]:
df21.show(1)

+----------+-------------------+------+
|first_name|              email|gender|
+----------+-------------------+------+
|     Cindy|cdangelo0@nymag.com|Female|
+----------+-------------------+------+
only showing top 1 row

In [22]:
df2f = df2.filter(df2.gender == 'Male')
df2f.count()

421

In [23]:
df2f = df2.where(df2.gender == "Male")
df2f.count()

421

In [24]:
df2f = df2.filter(df2['gender'] == "Male").count()
print(df2f)

421

In [25]:
df2s = df2.select("email","price").orderBy(df2['price'].desc())
df2s.show(3)

+--------------------+-----+
|               email|price|
+--------------------+-----+
|  tbernon41@ning.com|   99|
|akarpinski5g@pbs.org|   99|
|educkinfield2@mys...|   99|
+--------------------+-----+
only showing top 3 rows

In [26]:
df2.printSchema()

root
 |-- CustomerID: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- city: string (nullable = true)
 |-- department: string (nullable = true)
 |-- product: string (nullable = true)
 |-- price: string (nullable = true)

In [27]:
df2sa = df2.orderBy(df2['price'].asc())
df2sa.show(2)

+----------+----------+---------+--------------------+------+-------------+----------+--------------------+-----+
|CustomerID|first_name|last_name|               email|gender|         city|department|             product|price|
+----------+----------+---------+--------------------+------+-------------+----------+--------------------+-----+
|       206|    Briggs|  Shoppee|bshoppee5p@blinkl...|  Male|Souto do Meio|     Music|Lamb - Whole, Frozen|    1|
|       449|     Trish|  Antrack|tantrackcg@ustrea...|Female|     Buchanan|Automotive|     Wonton Wrappers|    1|
+----------+----------+---------+--------------------+------+-------------+----------+--------------------+-----+
only showing top 2 rows

In [28]:
df2dups = df2.dropDuplicates()
df2dups = df2.distinct()
df2dups = df2.dropDuplicates(["city"])
df2dups.count()

978

In [29]:
df2city = df2.groupBy("city").count()
df2city.select("city","count").filter(df2city["count"]>1).orderBy(df2city["count"].desc()).show()

+-------------+-----+
|         city|count|
+-------------+-----+
|    Stockholm|    5|
|  Montpellier|    3|
|  Santa Lucia|    2|
|    Trondheim|    2|
|San Francisco|    2|
|    San Diego|    2|
|     Cruzeiro|    2|
| Wiyayu Barat|    2|
|      El Paso|    2|
|    Omsukchan|    2|
|  Helsingborg|    2|
|      Madimba|    2|
| Buenos Aires|    2|
|      Yong’an|    2|
|         Pejë|    2|
|       Persen|    2|
|Benito Juarez|    2|
|         Jami|    2|
+-------------+-----+

In [30]:
dfu1 = df2
dfu2 = df2

In [31]:
dfunion = dfu1.union(dfu2)

In [32]:
dfunion.count()

2000

In [34]:
dfdrpdup = dfunion.dropDuplicates()
dfdrpdup.count()

1000

In [41]:
'''
from pyspark.sql.functions import when

df = df.withColumn(
    "new_column",
    when(df["column1"] == "value1", "result1")
    .when((df["column2"] > 10) & (df["column3"] < 20), "result2")
    .otherwise("default_result")
)
'''
from pyspark.sql.functions import when
df3case = df2.withColumn("pricecat",
                         when(df2['price'] < 25,  "Low priced")
                         .when ((df2['price'] > 25) & (df2['price'] < 50), "Medium priced")
                         .when (df2['price'] > 50, "High Priced")
                         .otherwise("No Price")
)

df3case.show(2)

+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+-----------+
|CustomerID|first_name|last_name|              email|gender|        city|department|             product|price|   pricecat|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+-----------+
|         1|     Cindy|D' Angelo|cdangelo0@nymag.com|Female|Samut Sakhon|  Outdoors|Jam - Strawberry,...|   91|High Priced|
|         2|  Olenolin|  Yarnley|oyarnley1@google.ru|  Male|    Tiantang|     Games|Tea - Darjeeling,...|   75|High Priced|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+-----------+
only showing top 2 rows

+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+-----------+
|CustomerID|first_name|last_name|              email|gender|        city|department|             product|price|   pricecat|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+-----------+
|         1|     Cindy|D' Angelo|cdangelo0@nymag.com|Female|Samut Sakhon|  Outdoors|Jam - Strawberry,...|   91|High Priced|
|         2|  Olenolin|  Yarnley|oyarnley1@google.ru|  Male|    Tiantang|     Games|Tea - Darjeeling,...|   75|High Priced|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+-----------+
only showing top 2 rows

In [43]:
df2.filter(df2['city'].contains("do")).count()

20

In [44]:
df2.describe()

DataFrame[summary: string, CustomerID: string, first_name: string, last_name: string, email: string, gender: string, city: string, department: string, product: string, price: string]

In [59]:
from pyspark.sql.functions import concat, upper, lower, lit
dfcc = df2.select(upper("first_name"))
dfcc = df2.select(upper("last_name"), lit(' '), lower("first_name"))
dfcc = df2.select(concat(upper("last_name"), lit(' '), lower("first_name")))
#dfcc = df2.withColumn("Full Name",concat(upper("first_name"), lit(' '), lower("last_name")))
dfcc.show(2)

+----------------------------------------------+
|concat(upper(last_name),  , lower(first_name))|
+----------------------------------------------+
|                               D' ANGELO cindy|
|                              YARNLEY olenolin|
+----------------------------------------------+
only showing top 2 rows

In [68]:
from pyspark.sql.functions import *
dftrim = df2.select(trim(col("first_name")))
dftrim = df2.select(split(col("last_name"), " "))
dftrim.show(5)

+-----------------------+
|split(last_name,  , -1)|
+-----------------------+
|           [D', Angelo]|
|              [Yarnley]|
|          [Duckinfield]|
|              [Grundon]|
|               [Keatch]|
+-----------------------+
only showing top 5 rows

In [72]:
dfj = df1.join(df2, df1.id == df2.CustomerID, how = 'inner')
dfj.show(2)

+---+----------+---------+--------------------+------------+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
| id|first_name|last_name|       Stock_Company|Stock_amount|CustomerID|first_name|last_name|              email|gender|        city|department|             product|price|
+---+----------+---------+--------------------+------------+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
|  1|   Merissa|   Vischi|Dreyfus High Yiel...|      $6.19 |         1|     Cindy|D' Angelo|cdangelo0@nymag.com|Female|Samut Sakhon|  Outdoors|Jam - Strawberry,...|   91|
|  2|      Edan|   Burnel|First Bancorp, In...|    $650.03 |         2|  Olenolin|  Yarnley|oyarnley1@google.ru|  Male|    Tiantang|     Games|Tea - Darjeeling,...|   75|
+---+----------+---------+--------------------+------------+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+
only showing top 2 rows

In [85]:
dfagg = df2.groupBy(df2['department']).count()
dfagg = dfagg.filter(dfagg["count"] >= 50).orderBy(dfagg["department"].desc())
dfagg.show(5)

+----------+-----+
|department|count|
+----------+-----+
|     Music|   57|
|      Kids|   53|
|   Grocery|   51|
| Computers|   50|
|     Books|   54|
+----------+-----+
only showing top 5 rows

In [114]:
from pyspark.sql.window import Window
w = Window.partitionBy("department").orderBy(desc("price"))
df2 = df2.where(df2['department'].isin("Music", "Kids"))
df2 = df2.withColumn("price",df2["price"].cast("integer"))
df2.show(5)
dfw = df2.withColumn("rn", row_number().over(w))\
         .withColumn("rnk", rank().over(w))\
         .withColumn("drnk", dense_rank().over(w))\
         .withColumn("lead", lead("price").over(w))\
         .withColumn("lag", lag("price").over(w))
dfw.show(12)

dfwdiff = dfw.withColumn("pricediff", dfw["lag"] - dfw["lead"])
dfwdiff.show(10)

+----------+----------+---------+--------------------+------+-----------+----------+--------------------+-----+
|CustomerID|first_name|last_name|               email|gender|       city|department|             product|price|
+----------+----------+---------+--------------------+------+-----------+----------+--------------------+-----+
|         4|     Kevin|  Grundon|kgrundon3@telegra...|  Male|    Cigenca|      Kids|Chicken Breast Halal|    4|
|         6|      Noam|    Goode|        ngoode5@t.co|  Male|Isyangulovo|      Kids|              Sachet|   23|
|        14|     Ellis|    Rowen|erowend@aboutads....|  Male|   Vimmerby|     Music|      Fork - Plastic|   13|
|        18|     Rocky|    Resun|     rresunh@cnn.com|  Male|Al Ma‘allā’|     Music|Longos - Chicken ...|   28|
|        27|   Gunther|    Athey|   gatheyq@fotki.com|  Male|       Woro|     Music|Veal - Chops, Spl...|   60|
+----------+----------+---------+--------------------+------+-----------+----------+--------------------+-----+
only showing top 5 rows

+----------+----------+----------+--------------------+----------+-------------+----------+--------------------+-----+---+---+----+----+----+
|CustomerID|first_name| last_name|               email|    gender|         city|department|             product|price| rn|rnk|drnk|lead| lag|
+----------+----------+----------+--------------------+----------+-------------+----------+--------------------+-----+---+---+----+----+----+
|       364|   Purcell|   Walkley|  pwalkleya3@pbs.org|      Male|     Svalyava|      Kids|   Pate - Peppercorn|   90|  1|  1|   1|  87|NULL|
|       300|      Gwen|  Jordison|gjordison8b@amazo...|    Female|     Ialoveni|      Kids|Pastry - Baked Sc...|   87|  2|  2|   2|  85|  90|
|        79|    Virgie|  Kowalski|vkowalski26@upenn...|    Female|       Meiyao|      Kids|Soup - Campbellsc...|   85|  3|  3|   3|  81|  87|
|       575|     Maddy| McQuillen|mmcquillenfy@dynd...|      Male|   Dzüünbulag|      Kids|Cheese - Parmesan...|   81|  4|  4|   4|  81|  85|
|       756|  Harmonia|    Aucock|haucockkz@mashabl...|    Female|        Sūrāb|      Kids|Veal - Brisket, P...|   81|  5|  4|   4|  79|  81|
|       820|  Chrystal|    Dorbin|cdorbinmr@blogtal...|    Female|   Mulyoagung|      Kids|Cognac - Courvaisier|   79|  6|  6|   5|  77|  81|
|       166|    Cymbre| McGeechan|cmcgeechan4l@inst...|    Female|Góra Kalwaria|      Kids|Dome Lid Clear P9...|   77|  7|  7|   6|  73|  79|
|       366|   Quinton|Mettericke|qmetterickea5@go.com|      Male|       Nggesa|      Kids|          Cornstarch|   73|  8|  8|   7|  71|  77|
|       720|     Albie|   Kearley|akearleyjz@slate.com|      Male|   Sabugueiro|      Kids|    Miso Paste White|   71|  9|  9|   8|  68|  73|
|       806|   Farrell|    Arnatt| farnattmd@exblog.jp|      Male|     Hongmiao|      Kids|      Squash - Acorn|   68| 10| 10|   9|  66|  71|
|       357|  Veronica|   Horbath| vhorbath9w@ucla.edu|Non-binary|        Skien|      Kids|Wine - Wyndham Es...|   66| 11| 11|  10|  65|  68|
|       536|   Baryram|   Howsden|bhowsdenev@siteme...|      Male|    Taozhuang|      Kids| Bread - Rolls, Corn|   65| 12| 12|  11|  65|  66|
+----------+----------+----------+--------------------+----------+-------------+----------+--------------------+-----+---+---+----+----+----+
only showing top 12 rows

+----------+----------+----------+--------------------+------+-------------+----------+--------------------+-----+---+---+----+----+----+---------+
|CustomerID|first_name| last_name|               email|gender|         city|department|             product|price| rn|rnk|drnk|lead| lag|pricediff|
+----------+----------+----------+--------------------+------+-------------+----------+--------------------+-----+---+---+----+----+----+---------+
|       364|   Purcell|   Walkley|  pwalkleya3@pbs.org|  Male|     Svalyava|      Kids|   Pate - Peppercorn|   90|  1|  1|   1|  87|NULL|     NULL|
|       300|      Gwen|  Jordison|gjordison8b@amazo...|Female|     Ialoveni|      Kids|Pastry - Baked Sc...|   87|  2|  2|   2|  85|  90|        5|
|        79|    Virgie|  Kowalski|vkowalski26@upenn...|Female|       Meiyao|      Kids|Soup - Campbellsc...|   85|  3|  3|   3|  81|  87|        6|
|       575|     Maddy| McQuillen|mmcquillenfy@dynd...|  Male|   Dzüünbulag|      Kids|Cheese - Parmesan...|   81|  4|  4|   4|  81|  85|        4|
|       756|  Harmonia|    Aucock|haucockkz@mashabl...|Female|        Sūrāb|      Kids|Veal - Brisket, P...|   81|  5|  4|   4|  79|  81|        2|
|       820|  Chrystal|    Dorbin|cdorbinmr@blogtal...|Female|   Mulyoagung|      Kids|Cognac - Courvaisier|   79|  6|  6|   5|  77|  81|        4|
|       166|    Cymbre| McGeechan|cmcgeechan4l@inst...|Female|Góra Kalwaria|      Kids|Dome Lid Clear P9...|   77|  7|  7|   6|  73|  79|        6|
|       366|   Quinton|Mettericke|qmetterickea5@go.com|  Male|       Nggesa|      Kids|          Cornstarch|   73|  8|  8|   7|  71|  77|        6|
|       720|     Albie|   Kearley|akearleyjz@slate.com|  Male|   Sabugueiro|      Kids|    Miso Paste White|   71|  9|  9|   8|  68|  73|        5|
|       806|   Farrell|    Arnatt| farnattmd@exblog.jp|  Male|     Hongmiao|      Kids|      Squash - Acorn|   68| 10| 10|   9|  66|  71|        5|
+----------+----------+----------+--------------------+------+-------------+----------+--------------------+-----+---+---+----+----+----+---------+
only showing top 10 rows

In [131]:
dfw.write.format("parquet").partitionBy("gender").mode("overwrite").save("outputfile123")
dfw.write.format("parquet").bucketBy(5,"CustomerId").sortBy("CustomerId").saveAsTable("outputfilebucket")
import os

# Get the current working directory
current_directory = os.getcwd()

print("Current Directory:", current_directory)

Current Directory: /content

In [138]:
dfwdnull = dfwdiff.na.fill(1)
dfwdnull.show(1)
dfc = dfwdiff.withColumn("pcoal", expr("coalesce(pricediff, -1)"))
dfc.show(1)

+----------+----------+---------+------------------+------+--------+----------+-----------------+-----+---+---+----+----+---+---------+
|CustomerID|first_name|last_name|             email|gender|    city|department|          product|price| rn|rnk|drnk|lead|lag|pricediff|
+----------+----------+---------+------------------+------+--------+----------+-----------------+-----+---+---+----+----+---+---------+
|       364|   Purcell|  Walkley|pwalkleya3@pbs.org|  Male|Svalyava|      Kids|Pate - Peppercorn|   90|  1|  1|   1|  87|  1|        1|
+----------+----------+---------+------------------+------+--------+----------+-----------------+-----+---+---+----+----+---+---------+
only showing top 1 row

+----------+----------+---------+------------------+------+--------+----------+-----------------+-----+---+---+----+----+----+---------+-----+
|CustomerID|first_name|last_name|             email|gender|    city|department|          product|price| rn|rnk|drnk|lead| lag|pricediff|pcoal|
+----------+----------+---------+------------------+------+--------+----------+-----------------+-----+---+---+----+----+----+---------+-----+
|       364|   Purcell|  Walkley|pwalkleya3@pbs.org|  Male|Svalyava|      Kids|Pate - Peppercorn|   90|  1|  1|   1|  87|NULL|     NULL|   -1|
+----------+----------+---------+------------------+------+--------+----------+-----------------+-----+---+---+----+----+----+---------+-----+
only showing top 1 row

In [140]:
from pyspark.sql.functions import lit, expr

dfl = df2.select(expr("*"), lit("ME").alias("litcol"))
dfl.show(5)

+----------+----------+---------+--------------------+------+-----------+----------+--------------------+-----+------+
|CustomerID|first_name|last_name|               email|gender|       city|department|             product|price|litcol|
+----------+----------+---------+--------------------+------+-----------+----------+--------------------+-----+------+
|         4|     Kevin|  Grundon|kgrundon3@telegra...|  Male|    Cigenca|      Kids|Chicken Breast Halal|    4|    ME|
|         6|      Noam|    Goode|        ngoode5@t.co|  Male|Isyangulovo|      Kids|              Sachet|   23|    ME|
|        14|     Ellis|    Rowen|erowend@aboutads....|  Male|   Vimmerby|     Music|      Fork - Plastic|   13|    ME|
|        18|     Rocky|    Resun|     rresunh@cnn.com|  Male|Al Ma‘allā’|     Music|Longos - Chicken ...|   28|    ME|
|        27|   Gunther|    Athey|   gatheyq@fotki.com|  Male|       Woro|     Music|Veal - Chops, Spl...|   60|    ME|
+----------+----------+---------+--------------------+------+-----------+----------+--------------------+-----+------+
only showing top 5 rows

In [147]:
dfp = df2.groupBy("department").pivot("gender").avg("price")
dfp.show(10)

+----------+-------+------+-----------+------------------+----------+----------+
|department|Agender|Female|Genderqueer|              Male|Non-binary|Polygender|
+----------+-------+------+-----------+------------------+----------+----------+
|     Music|   NULL| 50.04|       62.0|44.758620689655174|      NULL|       3.5|
|      Kids|   18.0|  38.0|      19.25|             42.76|      66.0|      NULL|
+----------+-------+------+-----------+------------------+----------+----------+

In [155]:
df3case.show(2)
dfdt = df3case.select(current_date(), current_timestamp())
dfdt.show(2)
dfdt.select(date_add("current_date", 5)).show(3)

+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+-----------+
|CustomerID|first_name|last_name|              email|gender|        city|department|             product|price|   pricecat|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+-----------+
|         1|     Cindy|D' Angelo|cdangelo0@nymag.com|Female|Samut Sakhon|  Outdoors|Jam - Strawberry,...|   91|High Priced|
|         2|  Olenolin|  Yarnley|oyarnley1@google.ru|  Male|    Tiantang|     Games|Tea - Darjeeling,...|   75|High Priced|
+----------+----------+---------+-------------------+------+------------+----------+--------------------+-----+-----------+
only showing top 2 rows

+--------------+--------------------+
|current_date()| current_timestamp()|
+--------------+--------------------+
|    2025-04-06|2025-04-06 17:30:...|
|    2025-04-06|2025-04-06 17:30:...|
+--------------+--------------------+
only showing top 2 rows

+---------------------------+
|date_add(current_date(), 5)|
+---------------------------+
|                 2025-04-11|
|                 2025-04-11|
|                 2025-04-11|
+---------------------------+
only showing top 3 rows

In [156]:
df3case = df3case.replace("Female", "Male")
df3case.select("gender").distinct().show()

+-----------+
|     gender|
+-----------+
|Genderqueer|
|    Agender|
| Polygender|
|   Bigender|
| Non-binary|
|       Male|
|Genderfluid|
+-----------+

In [161]:
dfwdiff.count()
#dfwdiff = dfwdiff.na.drop()
#dfwdiff.count()

106

In [167]:
df2.show(1)
dfkids = df2.select(regexp_replace(col("department"),"Kids","SmallKids"))
dfkids.show(10)

df2.count()
dfdrop = df2.dropDuplicates(subset = ["department","gender"])
dfdrop.show()
dfdrop.count()

+----------+----------+---------+--------------------+------+-------+----------+--------------------+-----+
|CustomerID|first_name|last_name|               email|gender|   city|department|             product|price|
+----------+----------+---------+--------------------+------+-------+----------+--------------------+-----+
|         4|     Kevin|  Grundon|kgrundon3@telegra...|  Male|Cigenca|      Kids|Chicken Breast Halal|    4|
+----------+----------+---------+--------------------+------+-------+----------+--------------------+-----+
only showing top 1 row

+----------------------------------------------+
|regexp_replace(department, Kids, SmallKids, 1)|
+----------------------------------------------+
|                                     SmallKids|
|                                     SmallKids|
|                                         Music|
|                                         Music|
|                                         Music|
|                                         Music|
|                                     SmallKids|
|                                     SmallKids|
|                                     SmallKids|
|                                         Music|
+----------------------------------------------+
only showing top 10 rows

+----------+----------+----------+--------------------+-----------+-------------+----------+--------------------+-----+
|CustomerID|first_name| last_name|               email|     gender|         city|department|             product|price|
+----------+----------+----------+--------------------+-----------+-------------+----------+--------------------+-----+
|       962|     Lorne|  Corcoran|lcorcoranqp@phoca.cz|    Agender|     Salvador|      Kids|Chips Potato Salt...|   18|
|        50|  Jeanelle|    Jentin|jjentin1d@sina.co...|     Female|     Gramaços|      Kids|    Cookie - Oatmeal|   30|
|       400|    Nikkie|  Bartelot|nbartelotb3@githu...|Genderqueer|Benito Juarez|      Kids|    V8 - Berry Blend|    2|
|         4|     Kevin|   Grundon|kgrundon3@telegra...|       Male|      Cigenca|      Kids|Chicken Breast Halal|    4|
|       357|  Veronica|   Horbath| vhorbath9w@ucla.edu| Non-binary|        Skien|      Kids|Wine - Wyndham Es...|   66|
|       115|    Nollie|     Eggle| neggle36@devhub.com|     Female|    La Gomera|     Music|        Butter - Pod|   80|
|       838|   Tirrell|Giorgietto|tgiorgietton9@blu...|Genderqueer|          Ono|     Music|Squash - Pattypan...|   62|
|        14|     Ellis|     Rowen|erowend@aboutads....|       Male|     Vimmerby|     Music|      Fork - Plastic|   13|
|       261|    Sondra|   Peagram|speagram78@livein...| Polygender|      El Paso|     Music|    Oysters - Smoked|    5|
+----------+----------+----------+--------------------+-----------+-------------+----------+--------------------+-----+

9